<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Films | Inside Out</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../styles/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../styles/films/insideout.css">
        <script src="../../js/jquery-1.11.3.min.js"></script>
        <script src="../../js/bootstrap.min.js" async=""></script>    
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../../index.html">expand your mind project</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">iBrad<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="../brad/aboutme.html">About me</a></li>
                              <li><a href="../brad/projects.html">Projects</a></li>
                              <li><a href="../brad/experience.html">Experience</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Films<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Inside Out</a></li>
                                <li><a href="../films/jurassicworld.html">Jurassic World</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../books/pixartouch.html">The Pixar Touch</a></li>
                                <li><a href="../books/stevejobs.html">Steve Jobs</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
<div class="pixarHeader">
    <div class="pixarTitle">
        <img class="pixarLampImg" src="../../assets/images/workspaceLamp.png">
        <h1 class="pixarTitleText"><span class="titBlue">I</span><span class="titGreen">n</span><span class="titYellow">s</span><span class="titPurple">i</span><span class="titOrange">d</span><span class="titRed">e</span>
            <span class="titBlue">O</span><span class="titYellow">u</span><span class="titGreen">t</span>
        </h1>
    </div>
</div>
    <div class="pixarContent">
        <div class="pixarSummary">
          <h2>Before the Theatre</h2>
            <p>It was a friday afternoon. With my friend finishing up a typical 14 hour day, we showed up to the theatre
                just in time for the previews. We walked inside our particular screeening and met a scream of shouting and
                chaos as the room was full of kids. Good thing I didn't buy any candy at the concessions to avoid stereotype suspicions. The parents were extremely skeptical of our intentions. I promise they were pure.
            </p>
          <h2>Lava Short Film</h2>
          <p>After finally scrounging for any open seats in the theatre, we settled down for some previews. Of course after the previews, there was a Pixar short film. After enjoying Geri's Game, Tin Toy, and Luxo Jr. as a child, it's safe
              to say that I have very high expectations for Pixar shorts. Lava did not disappoint. Not only did Lava include
              beautiful graphics of tropical landscape and ocean views, but a touching love story of two volcanoes. It also had a kickass theme song that is still stuck in my head.
          </p>
          <h2>Inside Out</h2>
          <p>After recovering from the emotional rollercoaster of Lava, the feature film finally began. To admit I was excited is very much an understatement, Pixar films are kinda my guilty pleasure (in case this page didn't give it away). As an avid fan, I must break down this section into parts because I have so much to say.
          </p>
          <p>First of all, the graphics were amazing. I feel like Pixar increases their technical coverage in ever film, with
              Inside Out being no exception. If your a Bay Area fan, there were great shots of the Golden Gate Bridge,
              San Francisco skyline, and major highways. The writers even included a few jokes making fun of the SF culture.
          </p>
          <p>Not only were the scenes amazing, but each had a distinct and meaningful purpose not just to the plot, but to life. If you didn't know already, the story dives into a young girl's head and shows the inner workings of her brain. Each action she produces has some source character in her mind - such as emotions, reason, and imagination. The bulk of the story is about these characters interacting in her mind to produce her everyday reactions to life. Pixar included clever references that were animated as characters in the story such as the train of thought, an imaginary friend, and short/long term memory.
          </p>
          <h2>Conclusion</h2>
          <p>Without giving too much away about the film, I hope you were convinced it was an amazing experience and one of Pixar's
            deepest works. It also served as a nice pregame for going out in Ballard afterwards. Definitely one of the best memories
            I've had in Seattle.
          </p>
        </div>
        <div class="pixarSummaryImage">
            <img src="../../assets/images/lava.png">
            <div class="imageSeperation">
                <img id="insideOutImg" src="../../assets/images/insideOut.png">
            </div>
        </div>
    </div>
  </body>
</html>