<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Films | Inside Out</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../styles/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../styles/bootstrap/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../styles/films/jurassicworld.css">
        <script src="../../js/jquery-1.11.3.min.js"></script>
        <script src="../../js/bootstrap.min.js" async=""></script>    
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../../index.html">expand your mind project</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">iBrad<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="../brad/aboutme.html">About me</a></li>
                              <li><a href="../brad/projects.html">Projects</a></li>
                              <li><a href="../brad/experience.html">Experience</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Films<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../films/insideout.html">Inside Out</a></li>
                                <li><a href="#">Jurassic World</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../books/pixartouch.html">The Pixar Touch</a></li>
                                <li><a href="../books/stevejobs.html">Steve Jobs</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <div class="jwHeader">
        <div class="jwTitle">
            <img class="jwImg" src="../../assets/images/jurassicpark.png">
            <h1 class="jwTitleText">J<span class="jwRed">u</span>r<span class="jwRed">a</span>s<span class="jwRed">s</span>i<span class="jwRed">c</span> W<span class="jwRed">o</span>r<span class="jwRed">l</span>d</h1>
        </div>
    </div>
    <div class="jwContent">
        <div class="jwSummary">
          <h2>Anticipation</h2>
            <p>What else would I do on a rainy Sunday afternoon in Seattle? The scene was perfect to escape back into an old childhood reality. A reality where theme parks like Disney World look like broken down fair rides comapared to Jurassic Park. I meant World. Whatever. Besides the uninventive name, I had every expectation to slip back into my dream vacation on Isla Nublar.
            </p>
          <h2>Jurassic World</h2>
          <p>The movie was amazing. Sometimes the plot seemed rather cheesy, but what can you expect when Chris Pratt is saying serious one-liners. The guy is hilarious, that's not a crime. The graphics of course were superb - especially compared to the low expectations of when we saw the original back in `93. The plot is rather predictable after seeing the first 3 Jurassic Parks. The story focuses on two brothers and their point of view when the dinosaurs start breaking loose and tickling people with their teeth. But my favorite part of the movie had nothing to do with the graphics, plot, or sadly even Chris Pratt.
          </p>
          <p>Jurassic World did a fantastic job in the minor details and thought of the actual park. Every theme park now days is extremely driven by profit, which always leads to new and exciting rides to keep the guests coming. Jurassic World was no different. It also had scenes of classic theme park restaurants and shopping some including Pandora, Margaritaville, and Starbucks. The film also did an amazing job of giving us a glimpse of the future of theme parks where technology is at the epicenter.
          </p>
          <h2>Conclusion</h2>
          <p>Overall, Jurassic World was an incredibly entertaining film that focused on more than just scary dinousaurs chowing down on chubby tourists. Did a token fat person die? Of course. But bringing together innovative features of future theme parks along with Chris Pratt being his goofy self was enough for me. Get off this page right now and go see it if you haven't yet.
          </p>
        </div>
        <div class="jwSummaryImage">
          <img class="jwImage" src="../../assets/images/jurassicworld.png">
        </div>
    </div>
  </body>
</html>