<div class="jobsHeader">
    <div class="jobsTitle">
        <img class="rainbowAppleImg" src="assets/images/rainbowApple.png">
        <h1 class="jobsTitleText">Steve Jobs by Walter Isaacson</h1>
        <img class="blackAppleImg" src="assets/images/blackApple.png">
    </div>
</div>
<div class="jobsContent">
    <div class="jobsSummary">
        <h2>Expectations</h2>
        <p>After interning at Apple (Summer 2014) I heard plenty of Steve Jobs stories. My story with Apple began as an
            11 year old boy using his lawn mowing earnings to purchase a silver iPod Mini. I still have the iPod and the box
            it came in. It's safe to say I have been a fan ever since.
        </p>
        <h2>Review</h2>
        <p>So your probably thinking of course an avid Apple fan and former employee enjoyed this biography. Well
            your assumptions are completely correct. I loved it. It's honestly hard to ruin a story about
            one of the most interesting person to ever walk this earth. But I give Walter Isaacson complete credit in his thoroughness
            on interviewing countless people in Jobs's life. He had accounts from every angle and perspective on those who were
            fortunate (or unfortunate) enough to encounter Steve Jobs. He had opinions from his childhood, college dropout years,
            first reign at Apple, Next, Pixar, and the return home. He beautiufully scripted not just the factual impact he had,
            but also the emotional legacy he left on our ever-progressing society. A recurring theme Isaacson pointed out was Jobs's
            love of the intersection of the humanities and technology - thorough ownership of a product's design.
        </p>
        <h2>Conclusion</h2>
        <p>Reading this book will change one aspect of your life. I guarantee it. Just seeing a glimpse into the mind of Steve Jobs
            will give anyone a different perspective on something they are facing - personally and professionally. This book
            fully embodies the <i>Think Different</i> mindset.
        </p>
    </div>
    <div class="jobsCoverImage">
        <img src="assets/images/steveJobsYoung.png">
    </div>
</div>