<div class="bradTitle">
    <h1 class="bradTitleText">bradford townsend ware</h1>
    <div class="bradTitleImageBlock">
        <img class="bradTitleImg" src="assets/images/brad.png">
        <div class="iconDiv">
            <a href="https://www.facebook.com/bwa225" target="_blank"><img class="iconImage" src="assets/images/facebook.png"></a>
            <a href="https://www.linkedin.com/in/bradfordware" target="_blank"><img class="iconImage" src="assets/images/linkedin.png"></a>
            <a href="https://github.com/bradware" target="_blank"><img class="iconImage gitHubImage" src="assets/images/github.png"></a>
        </div>
    </div>
</div>
<div class="bradContent">
    <h2>Experience</h2>
    <div class="contentSection">
        <div class="contentWriting">
            <h3><i>Redfin - Software Engineering Intern - Seattle, WA - Summer 2015</i></h3>
            <p>Worked as an engineer on the Data team - the backbone of Redfin. Wrote a data workflow pipeline
            that stored properties into S3 and Redshift. The pipeline was a fault-tolerant distributed system that updatd
            it's processing status with Postgres. Used Java to create the pipeline and Hibernate to persist DAO's to the table.
            </p>
        </div>
        <div class="contentImage">
            <img class="redfinLogo" src="assets/images/redfin.png">
        </div>
    </div>
    <div class="contentSection">
        <div class="contentWriting">
            <h3><i>Salesforce - Software Engineering Intern - Atlanta, GA - Spring 2015</i></h3>
            <p>Worked as a full-stack developer on the release of Pardot's brand new nurture marketing web application, Engagement Studio.Wrote the front-end interface in JavaScript using the Ember.js framework. D3.js was used for creating the graphing visuals,and ember-cli built and managed the application's dependencies. On the server-side I wrote the business logic for the workflow automation engine in Java and PHP. Unit and integration tests were written to cover every code push. My team used agile software development techniques formerly known as Scrum, where we worked in two week sprints.
            </p>
        </div>
        <div class="contentImage">
            <img class="salesforceLogo" src="assets/images/salesforce.png">
        </div>
    </div>
    <div class="contentSection">
        <div class="contentWriting">
            <h3><i>Apple Inc. - Software Engineering Intern - Cupertino, CA - Summer 2014</i></h3>
            <p>Developed a web application named iConfigurator using the MEAN (MongoDB, Express, AngularJS, and Node.js) stack technologies.Created the server-side architecture, including refining the data schema to maximize query
            optimization with a Document-Oriented Database. Cross worked with the UX team at Apple to completely redesign
            and implement the user interface for the multi-page application.Joined the web services through a RESTful API
            supported by Node.js as the driver language and Express framework for routing. Presented my work in Keynote to
            senior management within Apple at the conclusion of my internship.
            </p>
        </div>
        <div class="contentImage">
            <img class="appleLogo" src="assets/images/rainbowApple.png">
        </div>
    </div>
</div>
<div class="footer">
 <h2>{{#link-to 'brad.experience'}}Experience{{/link-to}} | {{#link-to 'brad.projects'}}Projects{{/link-to}}</h2>
</div>
