/* For mobile friendly version of brad pages */
@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
    padding-right: 1%;
  }

  .bradTitle { /* Basic padding on screen */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-top: -100px;
    width: 100%;
  }

  .bradTitleText {
    font-size: 3.0em;
    width: 100%;
  }

  .bradTitleImageBlock { /* Not showing image of me on mobile brad pages */
    visibility: hidden;
    display: none;
  }

  .contentWriting {
    width: 100%; /* baseline for every div to stretch */
  }

  /* For getting the mobile content to 
      stretch the width of the screen
  */
  .mobile124 p {
    width: 124%; /* Can't be 125 b/c of horizontal view on iPhone5 */
  }

  .mobile115 p {
    width: 115%; /* standard widener for content div */
  }

  .mobile102 p {
    width: 102%; /* To lengthen the machine-learning section a tad */
  }

  .bradContent h2 { /* Shrink text for mobile screen */
    font-size: 20px;
  }

  .bradContent h3 { /* Shrink text for mobile screen */
    font-size: 14px;
  }

  .bradContent p { /* Shrink text for mobile screen */
    font-size: 12px;
  }

  .mobileBiggerPFont { /* For the Contact section links under About me page */
    font-size: 13px !important;
  }

  .mobileName { /* Used to enlarge the name of Companies on experience page */
    font-size: 16px;
  }

  .gtLogo {
    width: 125px;
    height: 45px;
    margin-left: -100px;
    margin-top: 5px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-top: 18px;
    margin-left: -17px;
    width: 82px;
    height: 22px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-left: -10px;
    margin-top: 22px;
    width: 75px;
    height: 27px;
  }

  .appleLogo {
    /* Size of the image */
    margin-top: 7px;
    margin-left: -10px;
    width: 40px;
    height: 40px;
  }

  .d3Logo {
    /* Size of the image */
    margin-left: -65px;
    margin-top: 15px;
    width: 115px;
    height: 30px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-left: -20px;
    width: 40px;
    height: 40px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 5px;
    margin-left: -25px;
    width: 55px;
    height: 32px;

    -webkit-box-shadow: 0px 0px 10px #c0c0c0;
    -moz-box-shadow: 0px 0px 10px #c0c0c0;
    -ms-box-shadow: 0px 0px 10px #c0c0c0;
    -o-box-shadow: 0px 0px 10px #c0c0c0;
    box-shadow: 0px 0px 10px #c0c0c0;
  }

}
