/* For mobile friendly */
/* Different than footer-mobile because the brad pages have larger width due to 
      experience and project images. Therefore need to adjust footer margins differently. */
@media screen and (max-width: 600px) {

  .footerWrapper {
    margin-left: -242.5px; /* Bc the screen size is smaller, left shift has to be adjusted */
  }

  .footer h2 {
    font-size: 16px; /* Smaller font-size, which also tweaks the margins */
    margin-left: 18%;
  }
  
  .iconDiv {
    width: 100px; /* Smaller width which also tweaks the margins */
    margin-left: 34%; /* 34 is the magic number */
  }

  .iconImage { /* Changed size and also margins */
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }

  /* Because it's a different shape */
  .githubImage {
    width: 21px;
    height: 21px;
    margin-left: 5px;
  }

  .copyright {
    width: 175px; /* Smaller width b/c of smaller font-size, which affects margins */
    font-size: 10px;
    margin-left: 27%; /* 27 is the magic number */
  }

}