/* For mobile friendly */
/* not 600px b/c of bradford townsend ware text width */
@media screen and (max-width: 600px) { 

  .indexWrapper {
    left: 0%;
    margin-left: 0px;
  }

  .indexTitle {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3em;
  }
  
  .imageWrapper {
    left: 0%;
    margin-left: 0px;
  }
  
  #bradJacket {
  	margin-top: 10%;
    margin-left: 42%; /* debatable */
    margin-bottom: 30px;
  }

}