/* For mobile friendly */
@media screen and (max-width: 600px) {
  .indexWrapper {
    left: 0%;
    margin-left: 0px;
  }

  .indexTitle {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3em;
  }
  
  .imageWrapper {
    left: 0%;
    margin-left: 0px;
  }
  
  #bradJacket {
  	margin-top: 10%;
    margin-left: 47.5%; /* debatable */
    margin-bottom: 40px;
  }

}