<div class="footer">
	<h2><a href="../index">Home</a> | <a href="templates/about-me">About me</a> | <a href="templates/projects">Projects</a> | <a href="templates/experience">Experience</a>
	</h2>
	<div class="iconDiv">
	        <a href="https://www.facebook.com/bwa225" target="_blank"><img class="iconImage" src="../assets/images/facebook.png"></a>
	        <a href="https://www.linkedin.com/in/bradfordware" target="_blank"><img class="iconImage" src="../assets/images/linkedin.png"></a>
	        <a href="https://github.com/bradware" target="_blank"><img class="iconImage githubImage" src="../assets/images/github.png"></a>
	</div>
	<div class="copyright">
		<p>© 2015 Bradford Ware. All Rights Reserved.</p>
	</div>
</div>