/* For mobile friendly */
@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
    padding-right: 1%;
  }

  .bradTitle {
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
  }

  .bradTitleImageBlock {
    visibility: hidden;
    display: none;
  }

  .bradTitle {
    margin-top: -100px;
  }

  .contentWriting {
    width: 100%;
  }

  .bradContent h2 {
    font-size: 20px;
  }

  .bradContent h3 {
    font-size: 15px;
  }

  .bradContent p {
    font-size: 11px;
  }

  .bradTitleText {
    font-size: 3.0em;
    width: 100%;
  }

  .footer h2 {
    font-size: 20px;
    margin-left: 13%;
  }

  .gtLogo {
    width: 125px;
    height: 45px;
    margin-left: -100px;
    margin-top: 5px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-top: 25px;
    margin-left: -15px;
    width: 80px;
    height: 23px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-left: -8px;
    margin-top: 30px;
    width: 75px;
    height: 27px;
  }

  .appleLogo {
    /* Size of the image */
    margin-top: 15px;
    margin-left: -10px;
    width: 50px;
    height: 50px;
  }

  .d3Logo {
    /* Size of the image */
    margin-left: -100px;
    margin-top: 5px;
    width: 150px;
    height: 45px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-left: -20px;
    width: 50px;
    height: 50px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 5px;
    margin-left: -25px;
    width: 60px;
    height: 30px;

    -webkit-box-shadow: 0px 0px 10px #c0c0c0;
    -moz-box-shadow: 0px 0px 10px #c0c0c0;
    -ms-box-shadow: 0px 0px 10px #c0c0c0;
    -o-box-shadow: 0px 0px 10px #c0c0c0;
    box-shadow: 0px 0px 10px #c0c0c0;
  }

}