/* For mobile friendly version of brad pages */
@media screen and (max-width: 600px) {
  
  html, body {
    padding-right: 1%; /* To have content off the edge */
  }

  .contentWriting {
    width: 100%; /* baseline for every div to stretch */
  }

  /* 
      For getting the mobile content to stretch the width of the screen
  */
  .mobile133 p {
    width: 133%; /* For Salesforce/Pardot b/c it has a wider photo */
  }

  .mobile124 p {
    width: 124%; /* Can't be 125 b/c of horizontal view on iPhone5 - on Projects.html */
  }

  .mobile115 p {
    width: 115%; /* For Redfin and Apple because they have less wide photos - standard widener for content div - on Projects.html */
  }

  .mobile102 p {
    width: 102%; /* To lengthen the machine-learning section a tad - on Projects.html */
  }

  .content h2 { /* Shrink text for mobile screen */
    font-size: 30px;
  }

  .content h3 { /* Shrink text for mobile screen */
    font-size: 20px;
  }

  .content p { /* Shrink text for mobile screen */
    font-size: 14px;
  }

  #contactContent { /* For the Contact section links under About page */
    font-size: 16px !important;
  }

  .bradImg { 
    /* Not going to display this image on mobile */
    display: none;
  }

  .gtLogo {
    width: 125px;
    height: 45px;
    margin-left: -100px;
    margin-top: 5px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-top: 10px;
    margin-left: -5px;
    width: 40px;
    height: 40px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-left: -10px;
    margin-top: 22px;
    width: 82px;
    height: 30px;
  }

  .appleLogo {
    /* Size of the image */
    margin-top: 10px;
    margin-left: -5px;
    width: 40px;
    height: 40px;
  }

  .d3Logo {
    /* Size of the image */
    margin-left: -65px;
    margin-top: 15px;
    width: 120px;
    height: 32px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-left: -20px;
    width: 45px;
    height: 45px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 5px;
    margin-left: -25px;
    width: 60px;
    height: 35px;

    -webkit-box-shadow: 0px 0px 10px #c0c0c0;
    -moz-box-shadow: 0px 0px 10px #c0c0c0;
    -ms-box-shadow: 0px 0px 10px #c0c0c0;
    -o-box-shadow: 0px 0px 10px #c0c0c0;
    box-shadow: 0px 0px 10px #c0c0c0;
  }

}
