/* For mobile friendly */
@media screen and (max-width: 600px) {
  .bradTitleImageBlock {
    visibility: hidden;
    display: none;
  }

  .bradTitle {
    margin-top: -100px;
  }

  .contentWriting {
    width: 150%;
  }

  .bradContent h2 {
    font-size: 22px;
  }

  .bradContent h3 {
    font-size: 18px;
  }

  .bradContent p {
    font-size: 12px;
  }

  .bradTitleText {
    font-size: 2.5em;
  }

  .footer h2 {
    font-size: 20px;
    margin-left: 13%;
  }

  .gtLogo {
    width: 250px;
    height: 90px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-top: 30px;
    width: 200px;
    height: 52px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-top: 30px;
    width: 200px;
    height: 71px;
  }

  .appleLogo {
    /* Size of the image */
    margin-top: 30px;
    width: 75px;
    height: 75px;
  }

  .d3Logo {
    /* Size of the image */
    margin-top: 15px;
    width: 200px;
    height: 60px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-top: 25px;
    width: 75px;
    height: 75px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 25px;
    width: 120px;
    height: 60px;

    -webkit-box-shadow: 0px 0px 10px #c0c0c0;
    -moz-box-shadow: 0px 0px 10px #c0c0c0;
    -ms-box-shadow: 0px 0px 10px #c0c0c0;
    -o-box-shadow: 0px 0px 10px #c0c0c0;
    box-shadow: 0px 0px 10px #c0c0c0;
  }

}