.footerWrapper {
  width: 550px;
  position: relative;
  left: 50%;
  margin-left: -275px;
}

.footer h2 {
  font-weight: 200;
  margin-bottom: 8px;
}

.iconDiv {
  width: 130px;
  margin-left: 33%; /* 33 is the magic number */
  float: left;
}

.iconImage {
  margin-top: 0px;
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

/* Because it's a different shape */
.githubImage {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.copyright {
  float: left;
  font-weight: 200;
  width: 275px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 21%; /* 21 is the magic number */
}
