.iconDiv {
  padding-bottom: 15px;
}

.icon-size {
  font-size: 22px;
}

.icon-color {
  color: #333333; /* rgb(51, 51, 51) */
}

.icon-color:hover {
  color: #9B9B9B; /* rgb(155, 155, 155) */
}

.copyright {
  font-weight: 300;
  font-size: 14px;
  color: #000000; /* Same text color as body */
  padding-bottom: 10px;
}