.iconDiv {
  padding-bottom: 10px;
}

.icon-size {
  font-size: 22px;
}

.icon-color {
  color: rgb(119, 119, 119);
}

.icon-color:hover {
  color: rgb(0, 0, 0);
}

.copyright {
  font-weight: 300;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
}