/* For mobile friendly */
/* Different than footer-mobile because the brad pages have larger width due to 
      experience and project images. Therefore need to adjust footer margins differently. */
@media screen and (max-width: 600px) {

  .indexFooter {
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    margin-bottom: 15px;
  }

  .indexIconDiv {
    width: 100px;
    margin-left: 32.5%; /* 32.5 is the magic number */
    float: left;
  }

  .indexFooter h2 {
    font-size: 16px;
    margin-left: 18%;
    font-weight: 200;
  }

  .indexIconImage {
    width: 20px;
    height: 20px;
  }

  /* Because it's a different shape */
  .indexGitHubImage {
    width: 23px;
    height: 23px;
    margin-left: 3px;
  }

  .copyright {
    font-size: 10px;
    margin-left: 25%;
  }
  
}