.title {
  font-size: 64px;
  font-weight: 200;
  padding-bottom: 20px;
}

.title a {
  color: rgb(0, 0, 0);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
  text-decoration: none;
}

.title a:hover {
  color: rgb(119, 119, 119);
}

.logo {
  width: 35px;
  height: 21px;
}

/* logo spacing */
.navbar-brand {
  padding-right: 50px;
}

.navbar {
  background: rgba(255, 255, 255, 0.95);
  font-weight: 300;
  font-size: 1.25em;
}

/* Removes border around navbar-button on mobile */
.navbar .btn, .navbar navbar-collapse {
  /* Makes button and shadow appear in the middle of navbar */
  margin-top: 10px;
  margin-right: 10px;
  border: 0;
}

/* Padding between navbar menu options */
.navbar li {
  padding-right: 25px;
}

/* For mobile friendly version of main pages */
@media screen and (max-width: 800px) {
  .title {
    font-size: 62px;
    padding-bottom: 5px;
  }

  /* No padding on mobile b/c it's block */
  .navbar li {
    padding-right: 0px;
  }
}