.title {
  font-size: 64px;
  font-weight: 200;
  padding-bottom: 15px;
}

.logo {
  width: 40px;
  height: 25px;
}

/* logo spacing */
.navbar-brand {
  padding-top: 12px;
  padding-right: 50px;
}

.navbar {
  background: rgba(255, 255, 255, 1);
  font-weight: 300;
  font-size: 1.4em;
}

/* Removes border around navbar-button on mobile */
.navbar .btn, .navbar navbar-collapse {
  border: 0;
}

/* Padding between navbar menu options */
.navbar li {
  padding-right: 25px;
}