html, body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 90px; /* Because of fixed nav bar */
  background-color: #FAFAFA; /* barely off-white */
  height: 100%;
}

.content {
  padding-top: 15px; /* Because of h1 margin-bottom 10px */
  padding-bottom: 15px;
}

.indexPhoto {
  max-width: 475px;
  max-height: 505px;
  
  width: 98%;

  -webkit-box-shadow: 0px 0px 10px #c0c0c0;
  -moz-box-shadow: 0px 0px 10px #c0c0c0;
  -ms-box-shadow: 0px 0px 10px #c0c0c0;
  -o-box-shadow: 0px 0px 10px #c0c0c0;
  box-shadow: 0px 0px 10px #c0c0c0;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* For mobile friendly version of main pages */
@media screen and (max-width: 767px) { 
  body {
    padding-top: 60px; /* Because of fixed nav bar */
  }
}

/* For mobile friendly version of main pages */
@media screen and (max-width: 450px) { 
  body {
    padding-top: 50px; /* Because of fixed nav bar */
  }

  .content {
    padding-top: 5px; /* Because of h1 margin-bottom 10px */
  }
}
