.indexTitle {
  padding-left: 35px;
  font-size: 4.0em;
  font-weight: 100;
  font-color: #000000;

}

.summary {
  padding-left: 35px;
  font-size: 16px;
  z-index: 10;
  padding-bottom: 65px;
}

.indexContent {
	float: left;
	width: 60%;
}

#quoteCite {
	font-size: 16px;
	margin-left: 30%;
}

.summary p {
  padding-top: 30px;
  font-weight: 200;
}

.summary h2 {
  font-weight: 100;
  margin-left: 35%;
}

/* The quote */
.summary h3 {
  font-weight: 100;
}

#bradJacket {
	margin-top: 4%;
	margin-left: 6%;
	width: 300px;
	height: 225px;
	
	-webkit-box-shadow: 0px 0px 10px #c0c0c0;
    -moz-box-shadow: 0px 0px 10px #c0c0c0;
    -ms-box-shadow: 0px 0px 10px #c0c0c0;
    -o-box-shadow: 0px 0px 10px #c0c0c0;
    box-shadow: 0px 0px 10px #c0c0c0;
}

.indexFooter {
  width: 460px;
  position: relative;
  bottom: 0px;
  left: 50%;
  margin-left: -230px;
  margin-bottom: 15px;
  z-index: 1;

}

.indexFooter h2 {
	font-weight: 100;
}

.indexIconDiv {
  width: 120px;
  margin-left: 29%; /* 29 is the magic number */
  float: left;
}

.indexIconImage {
  margin-top: 0px;
  width: 25px;
  height: 25px;
  margin-left: 8px;
}

/* Because it's a different shape */
.indexGitHubImage {
  width: 30px;
  height: 30px;
  margin-left: 5px;

}

.copyright {
  float: left;
  font-weight: 100;
  width: 250px;
  margin-top: 5px;
  margin-left: 15%; /* 15 is the magic number */
}
