/* For mobile friendly */
@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }

  .indexTitle {
    font-size: 3em;
  }

  .quote {
    font-size: 20px;
  }

  .summary p {
    font-size: 14px;
  }

  .quote {
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 18px !important;
  }

  #bradJacket {
  	margin-top: 10%;
    margin-left: 42.5%; /* debatable */
  }

}