/* For mobile friendly */
@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }

  .indexTitle {
    font-size: 3em;
  }
  .quote {
    font-size: 20px;
  }

  #bradJacket {
  	margin-top: 10%;
    margin-left: 45%;
  }

}