/* For mobile friendly */
@media screen and (max-width: 600px) {

  .indexTitle {
    font-size: 3em;
  }
  .quote {
    font-size: 20px;
  }

  .indexFooter h2 {
    font-size: 20px;
    margin-left: 12%;
  }

  #bradJacket {
    margin-left: 50%;
  }

  .indexIconImage {
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }

  /* Because it's a different shape */
  .indexGitHubImage {
    width: 23px;
    height: 23px;
    margin-left: 3px;
  }

  .copyright {
    font-size: 12px;
    margin-left: 18%;
  }

}