html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5%; /* Because of fixed nav bar */
  background-color: #FAFAFA; /* barely off-white */
  padding-bottom: 100px; /* For the sticky footer because the height is 100px */
}

/* This class is the parent of the side by side divs */
.content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
}

p {
  color: #333333; /* rgb(51, 51, 51) */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Color for links */
a, a:hover {
  color: #0066CC; /* rgb(0, 102, 204) */
}

/* Header links remain dark unless hover */
h2, h2 > a {
  color: #333333; /* rgb(51, 51, 51) */
  font-size: 26px;
  font-weight: 400;
}

/* Header links have no underline on hover */
h2 > a:hover {
  text-decoration: none;
}

/* All of these are the images used in the various files */
.brad-img {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;

  -webkit-box-shadow: 0px 0px 5px #c0c0c0;
  -moz-box-shadow: 0px 0px 5px #c0c0c0;
  -ms-box-shadow: 0px 0px 5px #c0c0c0;
  -o-box-shadow: 0px 0px 5px #c0c0c0;
  box-shadow: 0px 0px 5px #c0c0c0;
}

.gt-logo {
  /* Size of the image */
  margin-top: 35px;
  width: 171px;
  height: 75px;
  margin-bottom: 10px;
}

.mailchimp-logo {
  /* Size of the image */
  margin-top: 50px;
  width: 100px;
  height: 110px;
  margin-bottom: 10px;
}

.fb-logo {
  /* Size of the image */
  margin-top: 45px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.redfin-logo {
  /* Size of the image */
  margin-top: 50px;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
}

.pardot-logo {
  /* Size of the image */
  margin-top: 50px;
  width: 115px;
  height: 115px;
  margin-bottom: 10px;
}

.apple-logo {
  /* Size of the image */
  margin-top: 55px;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
}

.scrubs-logo {
  /* Size of the image */
  margin-top: 45px;
  width: 100px;
  height: 110px;
  margin-bottom: 10px;
}

.voting-viz-logo {
  /* Size of the image */
  margin-top: 50px;
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
}

.kafka-logo {
  /* Size of the image */
  margin-top: 70px;
  width: 133px;
  height: 70px;
  margin-bottom: 10px;
}

.rpm-logo {
  /* Size of the image */
  margin-top: 60px;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
}

.risk-logo {
  /* Size of the image */
  margin-top: 60px;
  width: 164px;
  height: 95px;
  margin-bottom: 10px;
}

/* For massive screen on desktop  */
@media screen and (min-width: 1500px) {
  .mailchimp-logo, .fb-logo, .redfin-logo, .apple-logo, .scrubs-logo, .voting-viz-logo, .kafka-logo, .rpm-logo, .risk-logo, .bradImg, .gt-logo, .pardot-logo {
    margin-top: 35px;
  }
}

/* For small screen on desktop  */
@media screen and (max-width: 767px) {
  body {
    padding-top: 5%; /* Because of fixed nav bar */
  }

  .brad-img, .gt-logo, .mailchimp-logo, .fb-logo, .redfin-logo, .apple-logo,  .scrubs-logo, .voting-viz-logo, .kafka-logo, .rpm-logo, .risk-logo, .pardot-logo {
    margin-top: 10px;
  }

  /* This class is the parent of the side by side divs */
  .content {
    padding-bottom: 10%;
  }
}

/* For iPhone 6 and 6+ */
@media screen and (min-width: 350px) and (max-width: 450px) {
  body {
    padding-top: 8%; /* Because of fixed nav bar */
  }

  /* This class is the parent of the side by side divs */
  .content {
    padding-top: 0%;
    padding-left: 5px; /* To match -logo and hamburger icon */
    padding-right: 5px; /* To match -logo and hamburger icon */
  }
  
  p {
    font-size: 15px;
    line-height: 24px;
  }
}

/* iPhone 4 and 5 */
@media screen and (max-width: 350px) {
  body {
    padding-top: 50px; /* Because of fixed nav bar */
  }

  /* This class is the parent of the side by side divs */
  .content {
    padding-top: 0%;
    padding-left: 0%; /* To match -logo and hamburger icon */
    padding-right: 0%; /* To match -logo and hamburger icon */
  }

  h2, h2 > a {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
