html, body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px; /* Because of fixed nav bar */
  background-color: #fdfdfd; /* barely off-white */
}

/* This class is the parent of the side by side divs */
.content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

h3 {
  font-weight: 300;
}

p  {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}

a, a:hover {
  color: #0066CC; /* rgb(19, 115, 229) */
}

#contactContent {
  font-size: 18px !important; /* Email and Resume */
}

footer {
  padding-top: 8%;
}

/* All of these are the images used in the various files */

.bradImg {
  margin-top: 25px;
  width: 155px;
  height: 155px;

  -webkit-box-shadow: 0px 0px 10px #c0c0c0;
  -moz-box-shadow: 0px 0px 10px #c0c0c0;
  -ms-box-shadow: 0px 0px 10px #c0c0c0;
  -o-box-shadow: 0px 0px 10px #c0c0c0;
  box-shadow: 0px 0px 10px #c0c0c0;
}

.gtLogo {
  /* Size of the image */
  margin-top: 10px;
  width: 280px;
  height: 110px;
}

.redfinLogo {
  /* Size of the image */
  margin-top: 40px;
  width: 125px;
  height: 125px;
}

.salesforceLogo {
  /* Size of the image */
  margin-top: 50px;
  width: 250px;
  height: 90px;
}

.appleLogo {
  /* Size of the image */
  margin-top: 50px;
  width: 125px;
  height: 125px;
}

.d3Logo {
  /* Size of the image */
  margin-top: 35px;
  width: 115px;
  height: 110px;
}

.rpmLogo {
  /* Size of the image */
  margin-top: 40px;
  width: 125px;
  height: 125px;
}

.riskLogo {
  /* Size of the image */
  margin-top: 40px;
  width: 175px;
  height: 100px;
}


/* For mobile friendly version of main pages */
@media screen and (max-width: 767px) {

  html, body {
    padding-top: 25px; /* Because of fixed nav bar */
  }

  h2 { /* Shrink text for mobile screen */
    font-size: 32px;
  }

  h3 { /* Shrink text for mobile screen */
    font-size: 22px;
  }

  p { /* Shrink text for mobile screen */
    font-size: 16px;
  }

  #contactContent { /* For the Contact section links under About page */
    font-size: 18px !important;
  }

  footer { 
    padding-top: 15%; /* More bottom padding for mobile */
  }

  .bradImg { 
    /* Size of the image */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
    height: 125px;
  }

  .gtLogo {
    margin-top: 0px;
    width: 185px;
    height: 67px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-top: 0px;
    width: 100px;
    height: 100px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-top: 0px;
    width: 150px;
    height: 67px;
  }

  .appleLogo {
    /* Size of the image */
    margin-top: 0px;
    width: 100px;
    height: 100px;
  }

  .d3Logo {
    /* Size of the image */
    margin-top: 5px;
    width: 65px;
    height: 62px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-top: 5px;
    width: 80px;
    height: 80px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 5px;
    width: 120px;
    height: 76px;
  }

}
