html, body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px; /* Because of fixed nav bar */
  background-color: #fdfdfd; /* barely off-white */
}

/* This class is the parent of the side by side divs */
.content {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #333333; /* rgb(51, 51, 51) */
}

h2, h2 > a {
  font-size: 26px;
  color: #333333; /* rgb(51, 51, 51) */
  font-weight: 400;
}

h2 > a:hover {
  text-decoration: none;
}

a, a:hover {
  color: #0066CC; /* rgb(0, 102, 204) */
}

.contact {
  font-size: 18px;
}

footer {
  padding-top: 7%;
}

/* All of these are the images used in the various files */

.bradImg {
  margin-top: 22px;
  width: 140px;
  height: 140px;
  margin-bottom: 10px;

  -webkit-box-shadow: 0px 0px 10px #c0c0c0;
  -moz-box-shadow: 0px 0px 10px #c0c0c0;
  -ms-box-shadow: 0px 0px 10px #c0c0c0;
  -o-box-shadow: 0px 0px 10px #c0c0c0;
  box-shadow: 0px 0px 10px #c0c0c0;
}

.gtLogo {
  /* Size of the image */
  margin-top: 10px;
  width: 255px;
  height: 100px;
  margin-bottom: 10px;
}

.mailchimpLogo {
  /* Size of the image */
  margin-top: 30px;
  width: 110px;
  height: 120px;
  margin-bottom: 10px;
}

.redfinLogo {
  /* Size of the image */
  margin-top: 50px;
  width: 115px;
  height: 115px;
  margin-bottom: 10px;
}

.salesforceLogo {
  /* Size of the image */
  margin-top: 60px;
  width: 235px;
  height: 86px;
  margin-bottom: 10px;
}

.appleLogo {
  /* Size of the image */
  margin-top: 50px;
  width: 115px;
  height: 115px;
  margin-bottom: 10px;
}

.d3Logo {
  /* Size of the image */
  margin-top: 50px;
  width: 95px;
  height: 90px;
  margin-bottom: 10px;
}

.rpmLogo {
  /* Size of the image */
  margin-top: 40px;
  width: 115px;
  height: 115px;
  margin-bottom: 10px;
}

.riskLogo {
  /* Size of the image */
  margin-top: 50px;
  width: 165px;
  height: 95px;
  margin-bottom: 10px;
}

/* For small screen on desktop  */
@media screen and (max-width: 995px) {
  .bradImg, .gtLogo, .redfinLogo, .salesforceLogo, .appleLogo, .d3Logo, .rpmLogo, .riskLogo, .mailchimpLogo {
      margin-top: 10px;
  }

  /* This class is the parent of the side by side divs */
  .content {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

/* For mobile friendly version of main pages */
@media screen and (max-width: 450px) {

  html, body {
    padding-top: 25px; /* Because of fixed nav bar */
  }

   /* This class is the parent of the side by side divs */
  .content {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  footer { 
    padding-top: 15%; /* More bottom padding for mobile */
  }

}

/* For mobile friendly version of main pages */
@media screen and (max-width: 350px) { /* For iPhone 4 and 5 */
   h2, h2 > a {
    font-size: 24px;
  }
}
