/* For mobile friendly version of brad pages */
@media screen and (max-width: 600px) {
  
  html, body {
    padding-right: 1%; /* To have content off the edge */
  }

  .contentWriting {
    width: 100%; /* baseline for every div to stretch */
  }

  /* 
      For getting the mobile content to stretch the width of the screen
  */
  .mobile133 p {
    width: 133%; /* For Salesforce/Pardot b/c it has a wider photo */
  }

  .mobile124 p {
    width: 124%; /* Can't be 125 b/c of horizontal view on iPhone5 - on Projects.html */
  }

  .mobile115 p {
    width: 115%; /* For Redfin and Apple because they have less wide photos - standard widener for content div - on Projects.html */
  }

  .mobile102 p {
    width: 102%; /* To lengthen the machine-learning section a tad - on Projects.html */
  }

  .content h2 { /* Shrink text for mobile screen */
    font-size: 32px;
  }

  .content h3 { /* Shrink text for mobile screen */
    font-size: 22px;
  }

  .content p { /* Shrink text for mobile screen */
    font-size: 16px;
  }

  #contactContent { /* For the Contact section links under About page */
    font-size: 18px !important;
  }

  .bradImg { 
    /* Not going to display this image on mobile */
    display: none;
  }

  .gtLogo {
    width: 135px;
    height: 48px;
    margin-left: -100px;
    margin-top: 10px;
  }

  .redfinLogo {
    /* Size of the image */
    margin-left: -12px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .salesforceLogo {
    /* Size of the image */
    margin-left: -12px;
    margin-top: 25px;
    width: 85px;
    height: 35px;
  }

  .appleLogo {
    /* Size of the image */
    margin-left: -12px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .d3Logo {
    /* Size of the image */
    margin-left: -5px;
    margin-top: 5px;
    width: 45px;
    height: 43px;
  }

  .rpmLogo {
    /* Size of the image */
    margin-top: 10px;
    margin-left: -20px;
    width: 50px;
    height: 50px;
  }

  .riskLogo {
    /* Size of the image */
    margin-top: 12px;
    margin-left: -30px;
    width: 70px;
    height: 42px;
  }

}
